.post-category {
    float: right;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    display: block;
    margin-top: -3px;
}

.source {
    color: #777;
    float: right;
    margin: 0;
    line-height: 52px;
    vertical-align: middle;
    text-decoration: underline;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    opacity: .8;
}

.source:hover {
    color: #333;
}

.btn-previous {
    float: left;
}

.pager .current-page, .pager .current-page-min {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    line-height: 50px;
    vertical-align: middle;
    font-size: 16px;
}

.pager .current-page-min {
    display: none;
}

h2.post-title {
    margin-top: 0;
}

.post-preview .post-title {
    font-size: 28px !important;
}

.post-preview .post-subtitle {
    font-size: 19px;
    padding: 0;
}

.img-responsive {
    margin: 0 auto;
}

.container .post-preview .post-meta, .container .post-preview .post-meta span, .post-meta {
    font-size: 16px;
}

.container .post-detail .post-meta {
    color: #777;
    margin: 20px 0 0;
}

.post-heading {
    text-align: center;
}

.post_detail-header {
    font-size: 34px;
}

.intro-header .container .post-heading .post_detail-header h2.subheading {
    font-size: 24px;
}

.intro-header-post_detail {
    background-color: #333 !important;
    height: 60px;
}

.post-detail_images {
    margin-top: 30px;
}

.img-responsive {
    margin-bottom: 10px;
}

.post-detail_image {
    margin-bottom: 5px;
}

footer .copyright {
    margin-top: 10px;
}

.error_404 {
    font-size: 140%;
    text-align: center;
    margin-top: 10%;
}

.post-detail {
    font-size: 17px !important;

}

.post-detail p {
    margin: 15px 0;
    line-height: 28px;
}

.post-image_desrciption {
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .pager .current-page-min {
        display: block;
    }

    .pager .current-page {
        display: none;
    }

    .container .row .site-heading h1, .post-heading .post_detail-header {
        font-size: 26px;
    }

    .intro-header-post_detail {
        height: 54px;
    }

    .post-meta {
        margin: 20px auto;
    }

    .post_detail-header {
        font-size: 24px;
    }

    .post-preview .post-title {
        font-size: 24px !important;
    }
}

@media screen and (max-width: 767px) and (min-width: 401px) {
    .intro-header-post_detail {
        display: none;
    }

    article {
        margin-top: 60px;
    }
}

@media screen and (max-width: 989px) and (min-width: 401px) {
    .post_detail-header {
        font-size: 28px;
    }

    .post-preview .post-title {
        font-size: 26px !important;
    }
}