{% extends 'blog/base.html'%}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block header %}
    <header class="intro-header" style="background-image: url('{% static "img/contact-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Контакты</h1>
                        <hr class="small">
                        <span class="subheading">Есть вопросы? У меня есть ответы (возможно).</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>Хотите связаться со мной? Заполните форму ниже, чтобы отправить мне сообщение и я постараюсь ответить вам в течении <nobr>24-х часов!</nobr></p>
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form name="sentMessage" id="contactForm" novalidate>
            <div class="csrf-token" style="display:none">
                {% csrf_token %}
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Имя</label>
                    <input type="text" class="form-control" placeholder="Имя" id="name" required data-validation-required-message="Введите ваше имя">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Email Адрес</label>
                    <input type="email" class="form-control" placeholder="Email Адрес" id="email" required data-validation-required-message="Введите ваш Email адрес">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
{#            <div class="row control-group">#}
{#                <div class="form-group col-xs-12 floating-label-form-group controls">#}
{#                    <label>Номер телефона</label>#}
{#                    <input type="tel" class="form-control" placeholder="Номер телефона" id="phone" required data-validation-required-message="Введите номер вашего телефона">#}
{#                    <p class="help-block text-danger"></p>#}
{#                </div>#}
{#            </div>#}
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Сообщение</label>
                    <textarea rows="5" class="form-control" placeholder="Сообщение" id="message" required data-validation-required-message="Введите текст сообщения"></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-default">Отправить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}