{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Fresh News - Свежие новости{% endblock %}


<!-- Page Header -->
{% block header %}
    <header class="intro-header" style="background-image: url('{% static "img/bg-telekom.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Fresh News</h1>
                        <hr class="small">
                        <span class="subheading">Только свежие новости</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


<!-- Main Content -->
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{% url 'post_detail' pk=post.pk %}">
                            <h2 class="post-title post-interesting">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.preview }}
                            </h3>
                        </a>

                        <p class="post-meta">{{ post.date_created }}<span class="post-category">{{ post.category }}</span></p>
                    </div>
                    <hr>
                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    {% if posts.number == 2 %}
                        <li class="next btn-previous">
                            <a href="/">Назад</a>
                        </li>
                    {% elif posts.has_previous %}
                        <li class="next btn-previous">
                            <a href="?page={{ posts.previous_page_number }}">Назад</a>
                        </li>
                    {% endif %}
                    {% if posts.paginator.num_pages > 1 %}
                        <li class="current-page">
                            Страница {{ posts.number }} из {{ posts.paginator.num_pages }}
                        </li>
                        <li class="current-page-min">
                            {{ posts.number }} из {{ posts.paginator.num_pages }}
                        </li>
                    {% endif %}
                    {% if posts.has_next %}
                        <li class="next">
                            <a href="?page={{ posts.next_page_number }}">Далее</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}